<header class="voting-header">
  <h1 class="voting-heading">Bienvenido al Sistema de Votación</h1>
</header>

<div class="voting-container">
  <div class="candidate-card" (click)="voteCandidate('Pepe Perez','Juan')">
    <img src="assets/images/candidate1.jpg" alt="Candidate 1" class="candidate-image">
    <h2 class="candidate-name">Pepe Perez</h2>
    <div class="candidate-details">
      <h3 class="candidate-party">Partido 1</h3>
      <p class="candidate-description">Descripcion</p>
    </div>
  </div>

  <div class="candidate-card" (click)="voteCandidate('Luis González','Juan')">
    <img src="assets/images/candidate2.jpg" alt="Candidate 2" class="candidate-image">
    <h2 class="candidate-name">Luis González</h2>
    <div class="candidate-details">
      <h3 class="candidate-party">Partido 2</h3>
      <p class="candidate-description">Descripcion</p>
    </div>
  </div>

  <div class="candidate-card" (click)="voteCandidate('Pedro Lopez','Juan')">
    <img src="assets/images/candidate3.jpg" alt="Candidate 3" class="candidate-image">
    <h2 class="candidate-name">Pedro Lopez</h2>
    <div class="candidate-details">
      <h3 class="candidate-party">Partido 3</h3>
      <p class="candidate-description">Descripcion</p>
    </div>
  </div>

</div>

