
.block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.block-label {
  font-size: 14px;
  margin-right: 10px;
}

.block-bar {
  width: 400px; /* Ajusta el ancho de la barra según tus necesidades */
  height: 100px; /* Ajusta la altura de la barra según tus necesidades */
  margin-top: 5px;
  color: red;
  margin-right: 10px;

}

.block-value {
  font-size: 12px;
  margin-top: 5px;
  margin-right: 10px;

}

.voting-container {
  background: linear-gradient(135deg, #4b8bbe, #6dc0e8);
  height: 100vh;
  padding: 2rem;
}

.voting-header {
  background-color: #223344;
  padding: 2rem;
  text-align: center;
}

.voting-heading {
  color: #ffffff;
  font-size: 2.5rem;
  margin: 0;
}

